html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

body {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #0b0e0e;
}

* {
  color: white;
  font-family: MaisonNeue, sans-serif;
  font-weight: 500;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: auto;
  font-feature-settings: auto;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  line-height: 34.666px;
  line-height: 2.16667rem;
}

a {
  font-family: MaisonNeueMono, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
}

#root {
  height: 100%;
  width: 100%;
}
