.App{
  height: 100%;
  width: 100%;
}
.App-header{
  display: flex;
  align-items: center;
  height: 68px;
  padding-left: 100px;
  padding-right: 100px;
  background: #0c0e0f;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}
.commaHeaderLogo {
  font-family: MaisonNeueExtended, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
  font-size: 1.5rem;
}
