.Map{
  height:100%;
  margin: 3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}
.deckContainer{
  position: relative;
  height: 100%;
  flex-grow: 4;
  border-radius: 10px;

}
.controlContainer{
  flex-grow: 1;
  height: 90%;
  margin-right: 10px;
  max-width: 200px;
}
.tripName{
  cursor: pointer;
}
.avalibleTripList{
  overflow: none;
  list-style-type: none;
  padding: 0px;
  border-radius: 10px;
  border-top: solid;
  overflow: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.is-selected{
  background-color: rgba(255, 255, 255, 0.2);
}
.is-focused{
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;

}
.ghostButton{
  background: transparent;
  color:white;
  border: solid;
  border-radius: 10px;
  font-weight: 800;
  cursor: pointer;
  width: 100px;
}
.darkToast{
  background: black !important;
}
